.button {
    background-color: #b28a8a;
}

.disabled {
    width: 100px;
}

.secondary {
    width: 200px;

    /*background-color: #cc0000;*/

}

.default {
    background-color: #b28a8a;

}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {

}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}

